.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

select {
  width: 30vw;
  min-width: 200px;
  margin: 5px;
}
button {
  width: 15vw;
  min-width: 100px;
  background-color: lightgray;
}
select,
button {
  font-size: 14px;
  height: 2em;
}

button.sunButton:hover,
button.moonButton:hover {
  background-color: cornflowerblue;
}

button.active {
  background-color: cornflowerblue;
  outline: none;
}
.pathsImage {
  margin: 20px;
  max-width: 90vw;
}
.spinner-container {
  margin: auto;
  width: 100px;
  height: 100px;
  text-align: center;
}
.spinner {
  width: 100px;
  height: 100px;
}
